.my-font {
    font-family: 'Merienda One', cursive;
}

.fa-shopping-cart {
    background-image: linear-gradient(135deg, rgba(214,130,52,1) 0%, rgba(143,91,254,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron {
    background-color: #f3e9f1;
}

#products, #details {
    margin: 0.2rem auto;
}

#details {    
    margin-top: 2rem;
    padding: 4rem;
}

.card {
    padding: 0.5rem;
    margin: 0.5rem;
}

aside.card {
    padding: 2rem;
    margin: 0;
}

#price, #lenses, #button {
    padding-bottom: 2rem;
}